node_modules
.DS_Store
dist
dist-ssr
*.local

# playwright files
test-results
playwright-report
playwright/.cache

/coverage/

.env

# SSL certificate and key for local development
nginx/ssl/cert.pem
nginx/ssl/dev.pem
