name: Stale Branches

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

permissions:
  issues: write
  contents: write

jobs:
  stale_branches:
    runs-on: ubuntu-latest
    steps:
      - name: Stale Branches
        uses: crs-k/stale-branches@1193437d92efc16173ec9168c90b17e70ead2905
        with:
          max-issues: 1000
          days-before-stale: 60
          days-before-delete: 90
          stale-branch-label: "stale branch"
